---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?category_filter=active,arts&location=austin,%20texas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<%= ENV['YELP_KEY'] %>", oauth_nonce="6SGqgEESnrikGwy30LFr75ssCy2KEjRUSk8Rmpib8",
        oauth_signature="cGgnF0z%2FTuB%2FfvO9n13zInRrblk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1415210128", oauth_token="<%= ENV['YELP_TOKEN'] %>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web6-r1-sfo2, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - extlb1-r4-sfo2
      - lb1
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.10454674999999725, "longitude_delta":
        0.11186010000000124}, "center": {"latitude": 30.28013825, "longitude": -97.74308529999999}},
        "total": 2131, "businesses": [{"is_claimed": false, "rating": 5.0, "mobile_url":
        "http://m.yelp.com/biz/town-lake-metropolitan-parks-austin", "rating_img_url":
        "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 145, "name": "Town Lake Metropolitan Parks", "snippet_image_url":
        "http://s3-media4.fl.yelpcdn.com/photo/tQv317c4v2iBLsizYbSZJg/ms.jpg", "rating_img_url_small":
        "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "url": "http://www.yelp.com/biz/town-lake-metropolitan-parks-austin", "snippet_text":
        "This is my favorite place in Austin to go. It''s a good place to clear your
        mind and exercise or just hang out. Sometimes I walk/run the trail and I have...",
        "image_url": "http://s3-media4.fl.yelpcdn.com/bphoto/buw3l9qMGsAD1RECpaOiqg/ms.jpg",
        "categories": [["Parks", "parks"]], "rating_img_url_large": "http://s3-media3.fl.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "town-lake-metropolitan-parks-austin", "is_closed": false, "location":
        {"city": "Austin", "display_address": ["Town Lake", "Austin, TX 78701"], "geo_accuracy":
        9.5, "neighborhoods": ["Town Lake"], "postal_code": "78701", "country_code":
        "US", "address": [], "coordinate": {"latitude": 30.270894725696699, "longitude":
        -97.764859918551593}, "state_code": "TX"}}, {"is_claimed": false, "rating":
        5.0, "mobile_url": "http://m.yelp.com/biz/barton-creek-greenbelt-austin",
        "rating_img_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 153, "name": "Barton Creek Greenbelt", "snippet_image_url":
        "http://s3-media2.fl.yelpcdn.com/photo/fXVwiiUITlrEUwZNPebeRQ/ms.jpg", "rating_img_url_small":
        "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico[...]
